<% provide(:title,'About')%>

    <!--<h1>About Us</h1>
    <p>
      This is the About Us page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application. -->

	<p>This website is designed to compliment the Americans Elect process with the goal of putting Matt Miller's name on the November ballot for President of the United States. 

	<p>This website intends to do this by: 
		<ul>
			<li>Allowing you to tell Matt that you want him to run for President</li>
			<li>Allowing you to learn more about Matt and his policy positions</li>
			<li>Finding supporters that want to get more involved to put Matt on the Americans Elect ballot</li> 
			<li>Acting as a central resource for coordinating the Americans Elect draft activity for Matt's candidacy</li> 
		</ul>

	<p>Making a serious effort to get Matt on the ballot and elected President will require a grass roots effort beyond the Americans Elect process. The initial goal of this website is to gauge support for Matt's candidacy and bring together those who are interested in supporting Matt's candidacy. 

	<p>Show your support and get involved
    </p>
