      <div class="grpelem" id="u293"><!-- rasterized frame -->
      </div>
     </div>
     <div class="colelem" id="a85"><!-- image -->
<%= image_tag('master_u294.jpg')%>  
     </div>
    </div>

	<div id="page" class="rounded-corners clearfix">
	<div id="page_position_content" class="position_content">
	</div>  

  <div class="clearfix colelem" id="pu473-19"><!-- group -->
     <div class="clearfix grpelem" id="u473-19"><!-- content -->
      <p>Americans Elect is an organization dedicated to putting a third party candidate chosen directly by the American people on the Presidential ballot this November, <a href="https://www.americanselect.org" target="_blank"> www.americanselect.org</a>.</p>
      <p>&nbsp; </p>
      <p>Americans Elect is not a political party but a means of offering the American people another choice for President. Anyone eligible to hold the office of President can be drafted or proposed for the Americans Elect convention process which allows registered voters from any party to nominate one Presidential candidate for the November Presidential ballot as the Americans Elect candidate.</p>
      <p>&nbsp; </p>
      <p>Americans Elect allows any registered voter to participate through their website and does not advocate for or against any policy choices or political candidates. If you are a registered Republican, Democrat or Independent you can support an individual and help choose the final Americans Elect candidate.</p>
      <p>&nbsp; </p>
      <p>Nominating Matt Miller will require that we as the American people demonstrate that there is enough support for him to be a credible candidate. In the Americans Elect process this means that more than 50,000 registered voters will be required to show their support for Matt's candidacy through the Americans Elect website in order to put him on the ballot.</p>
      <p>&nbsp; </p>
      <p>We need your help to do this and ask that you show your support by <%= link_to "telling Matt to run", support_path %>. In the coming weeks we will evaluate how much support there is for Matt's candidacy as well as his willingness to dedicate his time and energy to run for the office of the President.</p>
      <p>&nbsp; </p>
      <p>Join us in providing a credible and meaningful alternative this fall. </p>
     </div>
     <div class="grpelem" id="u478"><!-- custom html -->
      <div class="video-click_to_play" id="video-overview">
  <div class="video-wrapper">
    <object style="height: 180px; width: 320px"><param name="movie" value="http://www.youtube.com/v/CuYKHnAVJ-Y?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/CuYKHnAVJ-Y?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="320" height="180"></object>
  </div>
  </div>
</div>

</div>
   </div>

  </div>