<% provide(:title, 'Home') %> 

<body>
     <div class="grpelem" id="u283"><!-- rasterized frame -->
<%= image_tag('master_u283.png')%>      
     </div>
    </div>
    <div class="colelem" id="u85"><!-- image -->
	<%= image_tag('master_u85.jpg')%>  
    </div>
   </div>
   <div class="clearfix grpelem" id="pu358"><!-- column -->
    <div class="colelem" id="u358"><!-- custom html -->
     <object width="420" height="245" id="msnbc6f8039" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0"><param name="movie" value="http://www.msnbc.msn.com/id/32545640" /><param name="FlashVars" value="launch=39898139&amp;width=420&amp;height=245" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><param name="wmode" value="transparent" /><embed name="msnbc6f8039" src="http://www.msnbc.msn.com/id/32545640" width="420" height="245" FlashVars="launch=39898139&amp;width=420&amp;height=245" allowscriptaccess="always" allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed></object>
</div>
    <div class="clearfix colelem" id="u385-16"><!-- content -->
     <p>This fall you should have a choice for President beyond standard party politics and stale political positions. We're asking Matt Miller to run for President of the United States, as a candidate that isn't beholden to either political party and as someone that has a serious and deep understanding of the choices we face as Americans.</p>
     <p>&nbsp; </p>
     <p>Unlike many third party candidates that have run before, Matt is not an extreme left or right idealog or an individual focused on just one issue. Instead we believe that Matt is the right candidate to advocate real solutions that encompass a broad range of policies to tackle the serious challenges facing our country from jobs and education, to the deficit and entitlement programs.</p>
     <p>&nbsp; </p>
     <p>You have the opportunity to join us in asking Matt Miller to run for President and put his name on the ballot in all 50 states in November thanks to <%= link_to "Americans Elect", elect_path %>.</p>
     <p>&nbsp; </p>
     <p>The first step and goal of this website is to gather together like minded people who believe that we have an alternative to gridlock in Washington and intrenched political infighting. Who believe that we need real leadership that isn't tied to special interests or party structure and brings together the best ideas to move America forward to make sure that the best days for America and us as Americans are in front of us.</p>
     <p>&nbsp; </p>
     <p>Learn more and join us in supporting Matt Miller's candidacy </p>
	<p>&nbsp; </p>

</div>
</div>

  </div>
  <div class="preload_images">
   <img class="preload" src="master_u216_r_full.png" alt=""/>
   <img class="preload" src="master_u216_m_full.png" alt=""/>
   <img class="preload" src="master_u216_a_full.png" alt=""/>
   <img class="preload" src="master_u186_r_full.png" alt=""/>
   <img class="preload" src="master_u186_m_full.png" alt=""/>
   <img class="preload" src="master_u186_a_full.png" alt=""/>
   <img class="preload" src="master_u207_r_full.png" alt=""/>
   <img class="preload" src="master_u207_m_full.png" alt=""/>
   <img class="preload" src="master_u207_a_full.png" alt=""/>
   <img class="preload" src="master_u223_r_full.png" alt=""/>
   <img class="preload" src="master_u223_m_full.png" alt=""/>
   <img class="preload" src="master_u223_a_full.png" alt=""/>
   <img class="preload" src="master_u250_r_full.png" alt=""/>
   <img class="preload" src="master_u250_m_full.png" alt=""/>
   <img class="preload" src="master_u250_a_full.png" alt=""/>
  </div>
  <!-- JS includes -->
  <script src="http://musecdn.businesscatalyst.com/scripts/1.1/jquery-1.7.min.js" type="text/javascript"></script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/1.1/jquery-1.7.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/1.1/sprydomutils.js?54905613" type="text/javascript"></script>
  <script src="scripts/1.1/museutils.js?3989269793" type="text/javascript"></script>
  <script src="scripts/1.1/jquery.musemenu.js?4007663282" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblemsPreInit);/* body */
Muse.Utils.addSelectorFn('a.nonblock', Muse.Utils.addHyperlinkAnchor); /* a.nonblock */
Muse.Utils.addSelectorFn('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
Muse.Utils.addSelectorFn('body', Muse.Utils.showWidgetsWhenReady);/* body */
Muse.Utils.addSelectorFn('body', Muse.Utils.transformMarkupToFixBrowserProblems);/* body */

</script>
   </body>

