<% provide(:title, 'Home') %>
<!-- <h1>Sample App</h1>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "Sign up now!", signup_path, class: "signup_button round" %> -->

<p>This fall you should have a choice for President beyond standard party politics and stale political positions. We're asking [Matt Miller] to run for President of the United States, as a candidate that isn't beholden to either political party and as someone that has a serious and deep understanding of the choices we face as Americans.	
 
<p>Unlike many third party candidates that have run before, Matt is not an extreme left or right idealog or a individual focused on just one issue. Instead we believe that Matt is the right candidate to advocate real solutions that encompass a broad range of policies to tackle the serious challenges facing our country from jobs and education, to the deficit and entitlement programs. 
 
<p>You have the opportunity to join us in asking Matt Miller to run for President and put his name on the ballot in all 50 states in November thanks to [Americans Elect]. 
 
<p>The first step and goal of this website is to gather together like minded people who believe that we have an alternative to gridlock in Washington and intrenched political infighting. Who believe that we need real leadership that isn't tied to special interests or party structure and brings together the best ideas to move America forward to make sure that the best days for America and us as Americans are in front of us.
 
<p>Learn more and join us in supporting Matt Miller's candidacy