<% provide(:title,'About Matt Miller')%>

<!--    <h1>Contact Us</h1>
    <p>
      This is the Contact Us page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p> -->
      <div class="grpelem" id="u293"><!-- rasterized frame -->
       <img id="u293_img" />
<%= image_tag('master_u293.png')%>  
      </div>
     </div>
     <div class="colelem" id="a85"><!-- image -->
      <img id="u85_img"/>
<%= image_tag('master_u294.jpg')%>  
     </div>
    </div>

	<div id="page" class="rounded-corners clearfix">
	<div id="page_position_content" class="position_content">
	</div>
	
    <div class="clearfix colelem" id="pu391-28"><!-- group -->
     <div class="clearfix grpelem" id="u391-28"><!-- content -->
      <p>&quot;Suppose I told you that for just two cents on the national dollar we could have a country where everyone had health insurance, every full&#45;time worker earned a living wage, every poor child had a great teacher in a fixed&#45;up school, and politicians spent their time with average Americans because they no longer had to grovel to wealthy donors? Suppose I also said we'd largely be using 'conservative' means (like tax subsidies and vouchers) to reach these seemingly 'liberal' goals — and that when we were done, government would be smaller than it was when Ronald Reagan was president?&quot;</p>
      <p>&#45;Matt Miller, The Two Percent Solution</p>
      <p>&nbsp; </p>
      <p>Matt Miller is a dedicated American, husband and father who believes that the current two party system is not adequately preparing America for the new challenges we face in this century. Matt's top priorities include:</p>
      <p>&nbsp; </p>
      <p>&nbsp;&nbsp;&nbsp; Putting America and Americans back to work</p>
      <p>&nbsp;&nbsp;&nbsp; Addressing our failing educational system</p>
      <p>&nbsp;&nbsp;&nbsp; Responsibly balancing the fiscal obligations of Medicare and Social Security while protecting retirees</p>
      <p>&nbsp;&nbsp;&nbsp; Reforming the tax code</p>
      <p>&nbsp;&nbsp;&nbsp; Placing America on a sustainable deficit path to protect our future</p>
      <p>&nbsp; </p>
      <p>As a political journalist and former advisor to the Office of Management and Budget, Matt has the breadth and knowledge to lead this country towards sustained prosperity.</p>
      <p>&nbsp; </p>
      <p>Follow Matt Miller on Twitter</p>
      <p>@mattmillernow </p>
	<p>&nbsp; </p>
     </div>
     <div class="grpelem" id="u386"><!-- image -->
      <img id="u386_img" src="image/matt_miller1_press.jpg" alt="" width="182" height="272"/>
	<%= image_tag('matt_miller1_press.jpg')%>
     </div>
	
   
</div>
   </div>
    
  </div>

  </div>
<footer>
	
</footer>
</html>