<% provide(:title,'About Matt Miller')%>

<!--    <h1>Contact Us</h1>
    <p>
      This is the Contact Us page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p> -->

<p>	"Suppose I told you that for just two cents on the national dollar we could have a country where everyone had health insurance, every full-time worker earned a living wage, every poor child had a great teacher in a fixed-up school, and politicians spent their time with average Americans because they no longer had to grovel to wealthy donors? Suppose I also said we'd largely be using 'conservative' means (like tax subsidies and vouchers) to reach these seemingly 'liberal' goals — and that when we were done, government would be smaller than it was when Ronald Reagan was president?"
													<br>-Matt Miller, The Two Percent Solution

<p>	Matt Miller is a dedicated American, husband and father who believes that the current two party system is not adequately preparing America for the new challenges we face in this century. Matt's top priorities include:
<ul>
		<li>Putting America and Americans back to work </li>
		<li>Addressing our failing educational system </li>
		<li>Following through on our our commitments to retirees while balancing the fiscal obligations of Medicare and 	  	 	Social Security in a responsible manner </li>
		<li>Reforming the tax code </li>
		<li>Placing America on a sustainable deficit path to protect our future </li>
</ul>
<p>	As a political journalist and former advisor to the Office of Management and Budget, Matt has the breadth and knowledge to lead this country towards sustained prosperity.

<p>	Follow Matt Miller on Twitter 
<br>		@mattmillernow

<p>	Matt Miller Wikipedia
<br>		"http://en.wikipedia.org/wiki/Matthew_Miller_(journalist)"

<p>	Matt Miller's Columns

<p>	Matt Miller hosting Left Right and Center

<p>	Matt Miller on TV
