<% provide(:title, 'Support')%>
 <!--   <h1>Help</h1>
    <p>
      This is the Help page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p> -->

	      <div class="grpelem" id="u293"><!-- rasterized frame -->
	<%= image_tag('master_u293.png')%>  
	      </div>
	     </div>
	     <div class="colelem" id="a85"><!-- image -->
	      <img id="u85_img"/>
	<%= image_tag('master_u294.jpg')%>  
	     </div>
	    </div>

		<div id="page" class="rounded-corners clearfix">
		<div id="page_position_content" class="position_content">
		</div>

	    <div class="clearfix colelem" id="pu391-28"><!-- group -->
	     <div class="clearfix grpelem" id="u391-28"><!-- content -->

			<p>I want Matt Miller to run for President of the United States


	</div>
	
	   </div>
	
	  </div>

	  </div>
	<footer>

	</footer>
	</html>

<p>I want Matt Miller to run for President of the United States
	
	
