// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html
{
	background-color: #011C29;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	border-style: none;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 0px;
	margin: 115px auto 36px;
}

#page2
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	border-style: none;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 0px;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -960px;
	margin-top: -112px;
}

#u95
{
	z-index: 5;
	width: 960px;
	border-style: none;
	background-color: #00273A;
	position: relative;
}

#menuu184
{
	z-index: 7;
	width: 960px;
	background-image: none;
	border-style: none;
	background-color: #011C29;
	position: relative;
	margin-right: -960px;
}

#u213
{
	width: 194px;
	min-height: 33px;
	margin-bottom: -1px;
	margin-right: -194px;
	position: relative;
	top: -1px;
	left: -2px;
}

#u216
{
	z-index: 10;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: visible;
}

._u216.f3s_top
{
	height: 18px;
	background-image: url("master_u216_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u216-2
{
	z-index: 15;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

#pu216:hover #u216-2
{
	visibility: visible;
}

._u216-2.f3s_top
{
	height: 18px;
	background-image: url("master_u216_r_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u216-3
{
	z-index: 20;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u216-3.f3s_top
{
	height: 18px;
	background-image: url("master_u216_m_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u216-4
{
	z-index: 25;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u216-4.f3s_top
{
	height: 18px;
	background-image: url("master_u216_a_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u185
{
	width: 194px;
	min-height: 33px;
	margin-bottom: -1px;
	margin-right: -194px;
	position: relative;
	top: -1px;
	left: 190px;
}

#u186
{
	z-index: 32;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: visible;
}

._u186.f3s_top
{
	height: 18px;
	background-image: url("master_u186_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u186-2
{
	z-index: 37;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u186-2.f3s_top
{
	height: 18px;
	background-image: url("master_u186_r_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u186-3
{
	z-index: 42;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u186-3.f3s_top
{
	height: 18px;
	background-image: url("master_u186_m_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u186-4
{
	z-index: 47;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u186-4.f3s_top
{
	height: 18px;
	background-image: url("master_u186_a_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u206
{
	width: 194px;
	min-height: 33px;
	margin-bottom: -1px;
	margin-right: -194px;
	position: relative;
	top: -1px;
	left: 382px;
}

#u207
{
	z-index: 54;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: visible;
}

._u207.f3s_top
{
	height: 18px;
	background-image: url("master_u207_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u207-2
{
	z-index: 59;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u207-2.f3s_top
{
	height: 18px;
	background-image: url("master_u207_r_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u207-3
{
	z-index: 64;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u207-3.f3s_top
{
	height: 18px;
	background-image: url("master_u207_m_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u207-4
{
	z-index: 69;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u207-4.f3s_top
{
	height: 18px;
	background-image: url("master_u207_a_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u220
{
	width: 194px;
	min-height: 33px;
	margin-bottom: -1px;
	margin-right: -194px;
	position: relative;
	top: -1px;
	left: 574px;
}

#u223
{
	z-index: 76;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: visible;
}

._u223.f3s_top
{
	height: 18px;
	background-image: url("master_u223_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u223-2
{
	z-index: 81;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u223-2.f3s_top
{
	height: 18px;
	background-image: url("master_u223_r_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u223-3
{
	z-index: 86;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u223-3.f3s_top
{
	height: 18px;
	background-image: url("master_u223_m_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u223-4
{
	z-index: 91;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u223-4.f3s_top
{
	height: 18px;
	background-image: url("master_u223_a_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u247
{
	width: 194px;
	min-height: 33px;
	margin-bottom: -1px;
	margin-right: -194px;
	position: relative;
	top: -1px;
	left: 766px;
}

#pmenuu184, #pu216, #pu186, #pu207, #pu223, #pu250
{
	width: 0.01px;
	position: relative;
}

#u250
{
	z-index: 98;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: visible;
}

._u250.f3s_top
{
	height: 18px;
	background-image: url("master_u250_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u250-2
{
	z-index: 103;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u250-2.f3s_top
{
	height: 18px;
	background-image: url("master_u250_r_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u250-3
{
	z-index: 108;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

._u250-3.f3s_top
{
	height: 18px;
	background-image: url("master_u250_m_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}

#u250-4
{
	z-index: 113;
	position: relative;
	width: 194px;
	margin-right: -194px;
	visibility: hidden;
}

#pu216:hover #u216, #pu216:active #u216-2, #pu216:active #u216, #pu216.MuseMenuActive #u216, #pu186:hover #u186, #pu186:active #u186-2, #pu186:active #u186, #pu186.MuseMenuActive #u186, #pu207:hover #u207, #pu207:active #u207-2, #pu207:active #u207, #pu207.MuseMenuActive #u207, #pu223:hover #u223, #pu223:active #u223-2, #pu223:active #u223, #pu223.MuseMenuActive #u223, #pu250:hover #u250, #pu250:active #u250-2, #pu250:active #u250, #pu250.MuseMenuActive #u250
{
	visibility: hidden;
}

#pu216:active #u216-3, #pu216.MuseMenuActive #u216-4, #pu186:hover #u186-2, #pu186:active #u186-3, #pu186.MuseMenuActive #u186-4, #pu207:hover #u207-2, #pu207:active #u207-3, #pu207.MuseMenuActive #u207-4, #pu223:hover #u223-2, #pu223:active #u223-3, #pu223.MuseMenuActive #u223-4, #pu250:hover #u250-2, #pu250:active #u250-3, #pu250.MuseMenuActive #u250-4
{
	visibility: visible;
}

._u250-4.f3s_top
{
	height: 18px;
	background-image: url("master_u250_a_full.png");
	background-position: 0px 0px;
	width: 194px;
	padding-bottom: 16px;
}


#pu391-28
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u391-28
{
	z-index: 125;
	width: 710px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -710px;
}

#u391-28modified
{
	z-index: 125;
	width: 960px;
	padding-bottom: 16px;
	position: center;
	margin-right: -960px;
}

#u386
{
	z-index: 123;
	width: 182px;
	position: relative;
	margin-right: -182px;
	left: 738px;
}


#u355
{
	z-index: 120;
	width: 960px;
	position: relative;
	margin-right: -960px;
}


#u219-4, #u219-8, #u219-12, #u219-16, #u189-4, #u189-8, #u189-12, #u189-16, #u208-4, #u208-8, #u208-12, #u208-16, #u225-4, #u225-8, #u225-12, #u225-16, #u252-4, #u252-8, #u252-12, #u252-16
{
	width: 188px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	margin-right: -192px;
	position: relative;
	top: 8px;
	left: 2px;
}

#u283
{
	z-index: 118;
	position: relative;
	width: 1px;
	margin-right: -1px;
	margin-top: 27px;
	left: 527px;
}

#u283_img
{
	display: block;
	vertical-align: top;
}

#u85
{
	z-index: 3;
	width: 960px;
	top: -14px;
	margin-bottom: -1px;
	position: relative;
}


#a85
{
	z-index: 3;
	width: 960px;
	top: -3px;
	margin-bottom: -1px;
	position: relative;
}

#u355
{
	z-index: 120;
	width: 960px;
	position: relative;
	top: 8px;
	margin-right: -960px;
}

#a85
{
	z-index: 3;
	width: 960px;
	top: -3px;
	margin-bottom: -1px;
	position: relative;
}

#u95_img, #u85_img
{
	vertical-align: top;
}

#pu358
{
	width: 0.01px;
	position: relative;
	margin-right: -920px;
	margin-top: 15px;
	left: 20px;
}

#u358
{
	z-index: 120;
	width: 359px;
	min-height: 265px;
	border-style: none;
	background-color: transparent;
	margin-left: 248px;
	position: relative;
}

#u385-16
{
	z-index: 121;
	width: 920px;
	min-height: 179px;
	margin-top: 6px;
	position: relative;
}

#u478
{
	z-index: 142;
	width: 200px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -200px;
	margin-top: 46px;
	left: 576px;
}


#pu473-19
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u473-19
{
	z-index: 123;
	width: 553px;
	min-height: 458px;
	position: relative;
	margin-right: -553px;
}

.box {
clear: both;
margin-top: 6px;
padding-top: 6px;
border-top: 1px solid #666;
}
