<footer>
	<div id="master-footer" class="clearfix colelem">
	<div id="u355" class="grpelem">
	<img id="u355_img" width="960" height="45" alt="" src="image/master_u355.jpg">
	<%= image_tag('master_355.jpg')%>
	</div>
	</div>
</footer>
</html>